<a href="https://colab.research.google.com/github/tinkercademy/ml-notebooks/blob/main/Data Science (Answers)/02_Intro_to_Python_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python

In this notebook, we'll do some very basic Python to get you warmed up with programming. Experienced coders can try the exercises the end of each section, or if you already know intro Python, move ahead to the next notebook.

## Variables

Variables are used to store data. In Python, we use `=` to *assign* data from the right item, to the variable name in the left item. For example:

In [1]:
name = "Potato"
age = 36
weight = 108.5

Start your variables with letters--you can't use numbers, so `3banana` is not a valid variable name. For variables with many words, use underscores: `three_banana` or camel case: `threeBanana`.

## Printing

Use `print` to send information from your code to the results bar, underneath the cell.

In [2]:
print("My name is Banana")

My name is Banana

In [3]:
print("My name is", name)

My name is Potato

In [4]:
print("My name is", name, "and my age is", age, "and my weight is", weight)

My name is Potato and my age is 36 and my weight is 108.5

## Operators

You can do math in Python! It's like a really expensive (and clunky) calculator.

In [5]:
a = 5 + 5
print(a)

10

In [6]:
a = 10
b = 5
c = a * b
print(c)

50

In [7]:
a = 20
print(c) # when a changes, c isn't affected.

50

In [8]:
# you can do division within a print, too
print(a/b)

4.0

In [9]:
print(b/a)

0.25

In [10]:
firstname = "Donald"
lastname = "Trunk"
fullname = firstname + lastname
print(fullname)

DonaldTrunk

In [11]:
name = "Bob"
print(5 * name)

BobBobBobBobBob

## Types

Variables have **types**, of which you've seen three: **int**s (integers, whole numbers), **float**s (decimal numbers), and **str**s (strings of text, with inverted commas around them--single or double inverted commas are fine, as long as you're consistent).

In [12]:
print(type(52))

<class 'int'>

In [13]:
print(type("potato"))

<class 'str'>

In [14]:
print(type("52"))

<class 'str'>

### <font color="red">Exercise 1A: More operators</font>

Why stop at four when we have more? Try to `print` these out, and write comments (with `#` in front) to say what they do.

In [15]:
a = 5 ** 2
b = 3 ** 3
c = 4 ** 5
d = 15 // 12
e = 12 // 15
f = 200 // 50
g = 200 // 51
h = 6 % 2
i_need_better_variable_names = 5 % 2
j = 9 % 5
k = 6 % 6
l = 0 % 7

In [16]:
print(c)

1024

In [17]:
#Example of when we might want to use floor division:
#Birthday party with 48.3 kg cake, every person will eat 1.7 kg of cake
#How many people can I invite?
cake = 48.3
print(cake / 1.7)
print("You can invite", cake // 1.7, "people to your party")

#Example of modulo is if we want to test if a number is even or odd
#But to program this we need to know conditional statements

28.41176470588235
You can invite 28.0 people to your party

### <font color="red">Exercise 1B: Calculate and print

What if I want to calculate the age of someone who's 3x my age?

Edit the variables below, and print: "3 times my age is 108".

In [18]:
#mention printing multiple parameters
"""age=99  # CHANGE ME
n=5001  # CHANGE ME
print(n,"times my age is",age) # this line needs fixing! FIXME!
"""

age=36
n=3
print(n,"times my age is",age*n)

print("3 times my age is 108") # not this way

3 times my age is 108
3 times my age is 108

### <font color="red">Exercise 1C: Seconds in a year

Let's use Python as a glorified calculator again. Below is some code to help you get started--can you figure out how many seconds there are in a year?

In [19]:
"""
num_seconds_in_minute = 60
num_minutes_in_hour = 0 # FIXME
num_hours_in_day = 0 # FIXME
num_days_in_year = 0 #FIXME
total = ____ * ____  # FIXME
print("The number of seconds in a year is",total)
"""

num_seconds_in_minute = 60
num_minutes_in_hour = 60
num_hours_in_day = 24
num_days_in_year = 365.25
total = num_seconds_in_minute * num_minutes_in_hour * num_hours_in_day * num_days_in_year

print("The number of seconds in a year is",total)
print("The number of seconds in a year is {:,}".format(total))

The number of seconds in a year is 31557600.0
The number of seconds in a year is 31,557,600.0

In [20]:
print("{:,}".format(1000000))

1,000,000

In [21]:
"{}".format("Hello")

'Hello'

In [22]:
"This is {} a sentence {} of words".format("Hello", "World")

'This is Hello a sentence World of words'

In [23]:
num_minutes_in_hour

60

In [24]:
print("firstnumber {:,}, secondnumber {}".format(1000000, 1000000))

firstnumber 1,000,000, secondnumber 1000000

In [25]:
a = 1000003.14159
f"hello {a:,}"

'hello 1,000,003.14159'

### <font color="red">Exercise 1D: Pixels

You are given the width and height of a screen in pixels. Calculate the total number of pixels on the screen and store them in a variable called `numberOfPixels`.

In [26]:
"""height = 1920
width = 1080

# Your code here

# Some code to print out the results
print("For a screen with height", height, "pixels")
print("And width", width, "pixels")
print("The total number of pixels is", numberOfPixels)
"""

height = 1920
width = 1080
numberOfPixels = height * width

print("For a screen with height", height, "pixels")
print("And width", width, "pixels")
print("The total number of pixels is", numberOfPixels)

For a screen with height 1920 pixels
And width 1080 pixels
The total number of pixels is 2073600

In [27]:
#Data type conversions will come in useful for next exercise

### <font color="red">Exercise 1E: Boys and girls

Calculate the percentage of boys (`percentBoys`) and the percentage of girls (`percentGirls`) in a class, and print it out.

In [28]:
numberOfBoys = 60
numberOfGirls = 20

# Your code here
total = numberOfBoys + numberOfGirls
percentBoys = numberOfBoys / total * 100
percentGirls = numberOfGirls / total * 100
print("% of boys is", percentBoys)
print("% of girls is", percentGirls)

print(str(percentBoys)+"% boys")
print(str(percentBoys)+"% girls")

% of boys is 75.0
% of girls is 25.0
75.0% boys
75.0% girls

In [29]:
numberOfBoys = 60
numberOfGirls = 20
total = numberOfBoys + numberOfGirls

percentBoys = 100 * numberOfBoys / total
percentGirls = 100 * numberOfGirls / total

print("% of boys is...", int(percentBoys), "%")
print("% of girls is...", str(int(percentGirls)) + "%")

% of boys is... 75 %
% of girls is... 25%

<hr>

## Functions

A function is a piece of reusable code that lets you run it again and again, but possibly with different parameters. Try running this function below with some different parameters:

In [30]:
def dogYearCalculator(age):
    print("Your age is", age)
    print("Your age in dog years is ", 7 * age)

In [31]:
dogYearCalculator(10)

Your age is 10
Your age in dog years is  70

In [32]:
dogYearCalculator(40)

Your age is 40
Your age in dog years is  280

There are some useful built-in functions, too! You've been using `print`, a function that prints things out. Let's now use it to print the results of other functions:

In [33]:
print(max(4, 6, 2))

6

In [34]:
print(min(1, 2, -10))

-10

In [35]:
print(round(3.596))

4

In [36]:
print("hello")

hello

In [37]:
print(round(3.69595))

4

In [38]:
print(len("banana")) # len is short for "length"

6

Some functions are in _modules_, e.g. the `math` module. To get started, you have to first `import math`, then try the functions within. Here is some gratuitious trigonometry:

In [39]:
import math

In [40]:
print("Pi is", math.pi)

Pi is 3.141592653589793

In [41]:
print("Cosine Pi is", math.cos(math.pi))

Cosine Pi is -1.0

In [42]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [43]:
import math as m # if you're tired of typing "math", you can import it as a shorter name. So many letters saved!
print(m.pi)

3.141592653589793

### <font color="red">Exercise 2A: Errors

If you make a typo, Python will give you an error. Some may look cryptic, but you can try to figure out what they're telling you based on the line of the error. Try running the below, and identifying the errors in the code.

In [44]:
name = "Banana

SyntaxError: ignored

In [45]:
age = 55
weeks_lived = age * weeksPerYear

NameError: ignored

In [46]:
pront("Hello")

NameError: ignored

In [ ]:
#reminder: you can Google for errors!

### <font color="red">Exercise 2B: Cube

Write a function, `cube(n)`, that takes in a number, `n`, and prints out the cubed result.

In [47]:
"""
def cube(n):
    result = 0 # FIXME
    print("The result is",result)

cube(3) # this line is to test your code
"""

def cube(n):
    result = n * n * n
    print("The result is",result)

cube(3)

The result is 27

### <font color="red">Exercise 2C: Using functions

Before running the code below, try predicting what each `print` statement will tell you. Can you explain what's going on with the third `max` function call, between `rich` and `poor`?

In [48]:
a_string = "abc"
print(max(a_string))

c

In [49]:
"0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"

'0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'

In [50]:
rich = "gold"
poor = "tin"
print(max(len(rich), len(poor)))

4

In [51]:
print(max(rich, poor))

tin

In [52]:
max("a","A", "1")

'a'

In [53]:
max("1", "3", "0")

'3'

In [54]:
max("50", "100")

'50'

In [55]:
"50" * 2

'5050'

<hr>

## Lists

So far, we've stored information in single variables. This would be unwieldy if we're dealing with a lot of data, e.g. weather readings over a year--imagine declaring variables `rainfall1`, `rainfall2`, `rainfall3`, etc.

We're going to introduce **lists** here--a way to store multiple pieces of data in one variable. The first list here is a list of pressure values, defined within square brackets `[]`, separated by commas:

In [56]:
pressures = [0.24, 0.25, 0.28, 0.23]

In [57]:
max(pressures)

0.28

In [58]:
print(pressures)

[0.24, 0.25, 0.28, 0.23]

In [59]:
print(len(pressures)) # this tells us the length

4

You can also access individual elements in a list, by using the **square bracket notation** -- add a square bracket after your variable name, then have a number in it with the **index** of the element you want to access. Computer scientists count from 0, so if you want the first item, it's at index 0; second item is at index 1.

In [60]:
print("The first item is", pressures[0])

The first item is 0.24

In [61]:
print("The third item is", pressures[2])

The third item is 0.28

In [62]:
# You can also change values using index notation. Once you do, the info within the list changes.
pressures[3] = 0.99
print(pressures)

[0.24, 0.25, 0.28, 0.99]

There are some list functions you can use. How do you find out about them? [Search](https://encrypted.google.com/search?q=python+list+functions)!

In [63]:
pressures.append(0.45)
pressures.append(0.31)
print(pressures)

[0.24, 0.25, 0.28, 0.99, 0.45, 0.31]

In [64]:
pressures.insert(1, 0.01)
pressures.insert(3, 0.5)
print(pressures)

[0.24, 0.01, 0.25, 0.5, 0.28, 0.99, 0.45, 0.31]

In [65]:
pressures.append("Banana")
print(pressures)

[0.24, 0.01, 0.25, 0.5, 0.28, 0.99, 0.45, 0.31, 'Banana']

In [66]:
# Can you figure out what this negative index does?
print(pressures[-3])

0.45

Here's something you can do with lists: **slice** them using the slice operator, a colon. Instead of providing a single number in the index, get back part of the list by providing a range of numbers, for example:

In [67]:
print(pressures)
print(pressures[1:4]) # item 1, 2, and 3 -- 4 not inclusive

[0.24, 0.01, 0.25, 0.5, 0.28, 0.99, 0.45, 0.31, 'Banana']
[0.01, 0.25, 0.5]

### <font color="red">Exercise 3A: I got a list, here's the order of my list that it's in

Here's a list. Can you do the following manipulations to it?

* Append apple and 76 to the list.
* Insert the value cat at index 3.
* Insert the value 99 at the start of the list.
* Find the index of hello.
* Count the number of 76s in the list.
* Remove the first occurrence of 76 from the list.

Print out your final list to check your answer.

In [68]:
# Space for your working here
# Remember to run the above cell first!
myList = [76, 92.3, 'hello', True, 4, 76]

myList.append("apple")
myList.append(76)
print(myList)

myList.insert(3, "cat")
print(myList)

print(myList.index("hello"))
print(myList.count(76))

myList.remove(76)
print(myList)

[76, 92.3, 'hello', True, 4, 76, 'apple', 76]
[76, 92.3, 'hello', 'cat', True, 4, 76, 'apple', 76]
2
3
[92.3, 'hello', 'cat', True, 4, 76, 'apple', 76]

In [69]:
myList.pop()
myList

[92.3, 'hello', 'cat', True, 4, 76, 'apple']

In [70]:
#how to loop through and delete all 76s?

myList = [76, 92.3, 'hello', True, 4, 76]

myList.append("apple")
myList.append(76)
myList.insert(2, "cat")

print(myList.index("hello"))
print(myList.count(76))

#counter=myList.count(76)
for i in range(myList.count(76)):
    myList.remove(76)
myList

3
3

[92.3, 'cat', 'hello', True, 4, 'apple']

In [71]:
#how to find index of second occurrence of element?

myList = [76, 92.3, 'hello', True, 4, 76]

myList.append("apple")
myList.append(76)
myList.insert(2, "cat")

print(myList.index("hello"))
print(myList.count(76))

myList.remove(76)
print(myList)

print("First Option")
listSlice = myList
last=0
for i in range(myList.count(76)):
    #find index of first 76 in listSlice
    currIndex = listSlice.index(76)
    print(currIndex + last)

    #create new slice to use next time
    listSlice = myList[currIndex+1:]
    last=currIndex+1


print("Second Option")
for i in range(len(myList)):
    #check if element is 76
    if myList[i] == 76:
        print("index", i, "is 76")

3
3
[92.3, 'cat', 'hello', True, 4, 76, 'apple', 76]
First Option
5
7
Second Option
index 5 is 76
index 7 is 76

### <font color="red">Exercise 3B: Fill in the blanks

Fill in the blanks so that the program below produces the output shown:

first time: [1, 3, 5]

second time: [3, 5]

In [72]:
"""
values = []
values.____(1)  #hint: we need to add values to the list somehow!
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]  #hint: use list slicing!
print('second time:', values)
"""

#Explain initialising empty list here
values = []
values.append(1)
values.append(3)
values.append(5)
print('first time:', values)
values = values[1:]
print('second time:', values)

first time: [1, 3, 5]
second time: [3, 5]

<hr>

## Loops

Now that we have lists, we want to be able to work on the data within them at one swoop, i.e. not have to edit `item[0]`, `item[1]`, `item[2]` one by one. For this, we can use a loop.

A loop starts with `for`, ends with a colon, and subsequent lines are indented:

In [73]:
stuff = ["potatoes", "bananas", "pie"]

for thing in stuff:
    print(thing)

potatoes
bananas
pie

In [74]:
# We can call the looping variable any name really. E.g.:
for any_name_really in stuff:
    print(any_name_really)

potatoes
bananas
pie

In [75]:
# Many statements in a loop? Sure. Just make sure they're indented--have a tab before them.
for i in stuff:
    print("I like", i)
    print("I really really like",i)
    print("Mmmmmmm")

I like potatoes
I really really like potatoes
Mmmmmmm
I like bananas
I really really like bananas
Mmmmmmm
I like pie
I really really like pie
Mmmmmmm

In [76]:
# range will give you a sequence of numbers, starting from 0, up to but not including your range-number
for n in range(6):
    print(n)

0
1
2
3
4
5

In [77]:
for n in range(5):
    print(n)
    print(n*n)
    print(n*n*n)
    print("")

print("I'm done!")

0
0
0

1
1
1

2
4
8

3
9
27

4
16
64

I'm done!

In [78]:
for i in range(10):
    print("banana",i)

banana 0
banana 1
banana 2
banana 3
banana 4
banana 5
banana 6
banana 7
banana 8
banana 9

### <font color="red">Exercise 4A: Multiply everything

Given a list of values, print out 2x of everything. E.g. [1, 2, 3] will print out

2
4
6

In [79]:
values = [1,2,3,4]

"""
for i in values:
    print(i) #FIXME
"""

for i in values:
    print(i * 2)

2
4
6
8

### <font color="red">Exercise 4B: Square everything

Given a list of values, print out the square of everything. E.g. [1, 2, 3] will print out

1
4
9

In [80]:
values = [1,2,3,4]

"""
for i in values:
    print(i) #FIXME
"""

values = [1,2,3,4]
for i in values:
    print(i*i)

1
4
9
16

### <font color="red">Exercise 4C: Print this Christmas tree using a loop

```
*
**
***
****
```

In [81]:
# some starter code
"""
for i in range(4):
    print("*")
"""


for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [82]:
#space= " "
#n=5
#print(space*n+"*")
#for i in range(1,n):
#    j=5-i
#    print(space*j+"*"*i+"*"+"*"*i+space*j)

In [83]:
#better example:
n=4
for i in range(n):
    print(" "*(n-i)  +  "*"*(1+2*i)  +  " "*(n-i))

    *
   ***
  *****
 *******

In [84]:
#better example:
n=4
for i in range(n):
    print(" "*(n-(i+1))  +  "*"*(2*i+1))

   *
  ***
 *****
*******

<hr>

## Conditionals

To have Python make decisions for us, we use `if` statements. These control whether blocks of code are run or not. Structurally, they're similar to `for` loops; you start with an `if`, end with a colon, and indent the block of code you want to run conditionally:

In [85]:
mass = 66

if mass > 50:
    print("That's a large mass")
if mass < 45:
    print("That's a small mass")
if mass == 47:                        ## notice the ==, not =
    print("That's EXACTLY RIGHT")

print("The mass is", mass)

# Edit the value of mass, and try this block out again.

That's a large mass
The mass is 66

In [86]:
temperature = 35
precipitation = 99

# you can define multiple conditions with and, or

if temperature > 30 and precipitation > 90:
    print("It's a hot and muggy day")

It's a hot and muggy day

That seemed rather pointless, because we _knew_ what the values were before we ran the loop. Conditionals become more useful when dealing with data we don't define ourselves, e.g. when the data comes in a list:

In [87]:
costs = [3.24, 1.07, 3.22, 5.86, 1.91]
for c in costs:
    if c > 3.0:
        print(c, 'is large!')

3.24 is large!
3.22 is large!
5.86 is large!

`else` can be used following an `if`, to specify an alternative course of action:

In [88]:
costs = [3.24, 1.07, 3.22, 5.86, 1.91]
for c in costs:
    if c > 3.0:
        print(c, 'is large!')
    else:
        print(c, 'is alright, I guess.')

3.24 is large!
1.07 is alright, I guess.
3.22 is large!
5.86 is large!
1.91 is alright, I guess.

and `elif` can be used to define more conditions:

In [89]:
costs = [3.24, 1.07, 3.22, 5.86, 1.91]
for c in costs:
    if c > 5.0:
        print(c, 'is HUGE!')
    elif c > 3.0:
        print(c, 'is large!')
    else:
        print(c, 'is alright, I guess.')

# notice we had to re-order the conditions? Can you figure out why?

3.24 is large!
1.07 is alright, I guess.
3.22 is large!
5.86 is HUGE!
1.91 is alright, I guess.

### <font color="red">Exercise 5A: Print this list, but numbered

Given a list of values, print them out, but with numbering. E.g.:

```
Day 1 reading: 0.44
Day 2 reading: 0.01
Day 3 reading: 0.24
```

Note: this first exercise doesn't use conditionals, but the following ones will!

In [90]:
"""readings = [0.44, 0.01, 0.24]
index = 1 # hint!

for r in readings:
    print(r) # FIXME
"""

readings = [0.44, 0.01, 0.24]
index = 1 # hint!

for r in readings:
    print("Day",index,"reading:",r)
    index = index + 1

Day 1 reading: 0.44
Day 2 reading: 0.01
Day 3 reading: 0.24

### <font color="red">Exercise 5B: Panic if something is too low

Same as above, but insert a huge warning if the value is below 0.1.

```
Day 1 reading: 0.44
Day 2 reading: 0.01 . WHAT! THIS IS TOO LOW!
Day 3 reading: 0.24
```

In [91]:
"""
readings = [0.44, 0.01, 0.24, 0.02]
index = 1

for r in readings:
    print(r) # FIXME
"""

readings = [0.44, 0.01, 0.24, 0.02]
index = 1

for r in readings:
    if (r < 0.1):
        print("Day",index,"reading:",r,"  WHAT! THIS IS TOO LOW!")
    else:
        print("Day",index,"reading:",r)
    index = index + 1

Day 1 reading: 0.44
Day 2 reading: 0.01   WHAT! THIS IS TOO LOW!
Day 3 reading: 0.24
Day 4 reading: 0.02   WHAT! THIS IS TOO LOW!

### <font color="red">Exercise 5C: Generate multiples

Print out all the positive multiples of 7 that are smaller than 200. The largest number printed should be 196. It's OK to print 0 to start out.

In [92]:
for i in range(200):
    if i % 7 == 0:
        print(i)


#demonstrate ways to eliminate the 0 at the start

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196

In [93]:
for i in range(0, 200, 7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196

### <font color="red">Exercise 5D: Multi-multiples

Print out all the positive multiples of 7 _or_ 13 that are smaller than 200.

In [94]:
for i in range(200):
    if i % 7 == 0 or i % 13 == 0:    #can optionally include parentheses around conditionals
        print(i)

0
7
13
14
21
26
28
35
39
42
49
52
56
63
65
70
77
78
84
91
98
104
105
112
117
119
126
130
133
140
143
147
154
156
161
168
169
175
182
189
195
196

<hr>

## Further reading

Want to learn more? We recommend the following:

* [How to think like a Computer Scientist](https://interactivepython.org/courselib/static/thinkcspy/toc.html#t-o-c), an interactive online book
* [Learn Python the Hard Way](https://learnpythonthehardway.org/) has lots of exercises to try
* [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/), for your lifehacks. Also available on Udemy as video.

In [95]:
import datetime as dt

x = dt.datetime(2018, 1, 24)
x

datetime.datetime(2018, 1, 24, 0, 0)

In [96]:
x.year

2018

In [97]:
x.month

1

In [98]:
#String Formatting

In [99]:
name = "mike"
a = 12.3456

print("hello %s" % name)
print("hello %.2f" % a)

hello mike
hello 12.35

In [ ]:
#strings are just lists
#strings have their own methods
#how to find a character in a string?